<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="
        androidx.camera.camera2,
        androidx.camera.camera2.pipe,
        androidx.camera.core,
        androidx.camera.video,
        androidx.camera.featurecombinationquery,
        androidx.media3.muxer,
        androidx.media3.container,
        androidx.media3.common,
        com.google.mlkit.vision.barcode.bundled,
        com.google.mlkit.vision.barcode.common,
        com.google.mlkit.vision.common,
        com.google.mlkit.common,
        com.google.mlkit.vision.interfaces,
        com.google.android.odml.image,
        androidx.core,
        androidx.core.ktx,
        androidx.camera.lifecycle,
        androidx.compose.runtime,
        androidx.compose.runtime.saveable,
        androidx.savedstate,
        androidx.savedstate.compose,
        androidx.savedstate.ktx,
        androidx.navigation,
        androidx.navigation.common,
        androidx.navigation.fragment,
        androidx.navigation.ui,
        androidx.navigationevent,
        androidx.navigationevent.compose,
        androidx.lifecycle.runtime,
        androidx.lifecycle.runtime.compose,
        androidx.compose.runtime.annotation,
        androidx.lifecycle.ktx,
        androidx.lifecycle.process,
        androidx.lifecycle.viewmodel.ktx,
        androidx.lifecycle.livedata,
        androidx.lifecycle.livedata.core,
        androidx.lifecycle.livedata.core.ktx,
        androidx.lifecycle.viewmodel,
        androidx.lifecycle.viewmodel.savedstate,
        androidx.lifecycle.lifecycle.viewmodel.anchor,
        androidx.activity,
        androidx.activity.ktx,
        androidx.activity.compose,
        androidx.core.backported.fixes,
        androidx.appcompat,
        androidx.appcompat.resources" />

    <application/>

</manifest>
